
@{ ViewData["Title"] = ""; }
<h1>@ViewData["Title"]</h1>
}
<h2>OUR COMPANY</h2>
<p>Get to know us and our goals. Check out Reading's Amazin history </p>
<h3>OUR MISSION</h3>
<p>Our goal is to become the country's leading bookstore. To pursue our goal, we make sure every of your transaction with us pleasing </p>

<h3> OUR SOCIAL RESPONSIBILITY </h3>
<p>Reading's Amazin is committed to ensuring that our vendors and their suppliers uphold the highest ethical standards in workplace conditions and labour practices. </p>