@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model vroom.Models.Book

@{
    ViewData["Title"] = "Create Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Add a Book</h2>

<form method="post" enctype="multipart/form-data"  asp-action="Create">

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Title"></label>
        </div>
        <div class="col-4">
            <input asp-for="Title" class="form-control" />
        </div>

        <div class="col-2">
            <label asp-for="Description"></label>
        </div>
        <div class="col-4">
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="col-2">
            <label asp-for="Price"></label>
        </div>
        <div class="col-4">
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="col-auto">
            <label asp-for="ImagePath"></label>
        </div>
        <div class="col-3">
            <input type="file" name="files" class="form-control" />
        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back</a>
        </div>
    </div>

</form>