<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3936ac9e-ac8f-4ad2-920a-4bf4a32aa66e/resourceGroups/info48442020/providers/Microsoft.Web/sites/readings-amazin</ResourceId>
    <ResourceGroup>info48442020</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://readings-amazin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>readings-amazin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>readings-amazin</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$readings-amazin</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>